.title {
	text-align: center;
	font-size: 40px;
	margin-bottom: 30px;
}

.list {
	display: flex;
	gap: 20px;

}

.button-add {
	width: 200px;
	height: 40px;
	display: flex;
	gap:10px;
	flex-direction: column;
	height: 277px;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(62, 62, 104);
	border-radius: 10px;

	transition: transform 500ms linear;
}

.button-add:hover, .button-add:focus {
	transform: scale(1.05);
}

.container-main {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.container-main .list-container {
	width: 85%;
}

.text {
	font-size: 18px;
	margin-bottom: 20px;
}

.buttons-div {
	height: 40px;
	display: flex;
	gap: 10px;
	margin-bottom: 5px;
}

.main-page {
	width:100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 120px;
	background-image:linear-gradient(0deg, #050505e3 20%,#2b2a2ab5 100% ), url("../../public/WeatherIcons-main/main.jpg");
	background-repeat: no-repeat;
	background-size: 100%, cover;
	background-position: 0 0;
	color: #ffffff;
	text-shadow: 0 2px 2px #000;
}

.main-title {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.button-google {
	border: none;
	width: 400px;
	height: 50px;
	border-radius: 30px;
	background-color: rgb(139, 243, 208);
	margin-top: 30px;
}