.backdrop {
width:100vw;
height: 100vh;
background-color: #a1a1a17f;
position: fixed;
top:0;
left:0;
z-index: 10;
}

.modal {
	padding: 30px 20px;
	position: absolute;
	width:600px;
	height: 100%;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 11;
	background-color: #ffffff;
}

.btn-modal {
	border: none;
	position:absolute;
	top:20px;
	right: 30px;
	background-color: transparent;
	z-index: 12;
	transition: transform 500ms linear;
}

.btn-modal:hover, .btn-modal:focus {
	transform: scale(1.05);
}

.modal__title {
	padding-bottom: 20px;
	border-bottom: 1px solid #a1a1a1;
	margin-bottom: 20px;
}